<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.deproo.android.deproo">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.hardware.CAMERA" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:name=".application.DeprooApplication"
        android:allowBackup="true"
        android:appComponentFactory="android.support.v4.app.CoreComponentFactory"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:label,android:theme,android:appComponentFactory">
        <activity
            android:name=".activity.AddReviewActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyTheme">
        </activity>

        <meta-data
            android:name="com.parse.SERVER_URL"
            android:value="@string/back4app_server_url" />
        <meta-data
            android:name="com.parse.APPLICATION_ID"
            android:value="@string/back4app_app_id" />
        <meta-data
            android:name="com.parse.CLIENT_KEY"
            android:value="@string/back4app_client_key" />
        <meta-data
            android:name="com.parse.push.gcm_sender_id"
            android:value="69524391139" />

        <activity
            android:name=".activity.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.BrokerProfileActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".activity.NewDiscussionActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyTheme"></activity>
        <activity android:name=".activity.DisplayImageActivity" />
        <activity
            android:name=".activity.AssetListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MainActivityTheme"></activity>
        <activity
            android:name=".activity.BrokerListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MainActivityTheme"></activity>
        <activity
            android:name=".activity.AssetDetailActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".activity.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MainActivityTheme"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".activity.VideoPlayerActivity" />
        <activity android:name=".activity.RegisterActivity" />
        <activity android:name=".activity.LoginFacebookActivity" />
        <activity android:name=".activity.HomeFacebookActivity" />
        <activity
            android:name=".activity.NewAssetActivity"
            android:theme="@style/MyTheme" />
        <activity
            android:name=".activity.AssetLocActivity"
            android:theme="@style/MyTheme" />
        <activity
            android:name=".activity.NewAssetDescActivity"
            android:theme="@style/MyTheme"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activity.EditProfileActivity"
            android:theme="@style/MyTheme" />
        <activity
            android:name=".activity.NewAssetImagePrevActivity"
            android:theme="@style/MyTheme" />
        <activity
            android:name=".activity.NewAssetVideoPrevActivity"
            android:theme="@style/MyTheme" />
        <activity
            android:name="com.zfdang.multiple_images_selector.ImagesSelectorActivity"
            android:configChanges="orientation|screenSize" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <provider
            android:name="com.facebook.FacebookContentProvider"
            android:authorities="com.facebook.app.FacebookContentProvider1544429589013424"
            android:exported="true" />
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.zhihu.matisse.sample.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths_public"></meta-data>
        </provider>

        <service
            android:name=".model.AssetUploadService"
            android:exported="false" />
        <service
            android:name=".model.GetDataService"
            android:exported="false" />
        <service
            android:name="com.parse.fcm.ParseFirebaseInstanceIdService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service android:name="com.parse.fcm.ParseFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <receiver
            android:name="com.parse.ParsePushBroadcastReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.parse.push.intent.RECEIVE" />
                <action android:name="com.parse.push.intent.OPEN" />
                <action android:name="com.parse.push.intent.DELETE" />
            </intent-filter>
        </receiver>
    </application>

</manifest>